:root {
  --background: #181a1b;
  --surface: #242728;
  --hover: #313435;
  --active: #3e4142;
  --text: #c7c7c7;
  --accent: #5566b8; /* This should be editable by user */
  --accent-dim: rgba(85, 102, 184, 0.25);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

header {
  height: 4rem;
  width: 100%;
  background: var(--surface);
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;

    & > a {
      padding: 1.422rem;
      background-color: var(--hover);

      &:hover {
        background-color: var(--accent);
        color: #fff;
        font-weight: 700;
      }
    }
    & > input {
      text-decoration: none;

      padding: 0.5rem 0.5rem;
      border-radius: 17.5px;
      outline: none;
      width: 30rem;
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 920px) {
  header input {
    display: none;
  }
}

#hero-section {
  width: 100%;
}

#panorama-img {
  width: 100%;
  height: 26vw;
  display: block;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

#welcome {
  max-width: 50vw;
  margin: 0 auto;

  & > h1 {
    font-size: 5rem;
    text-align: center;
  }

  & > h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    color: #aaa;
    margin-bottom: 1rem;
  }

  & > p {
    font-size: 1.25rem;
  }

  & > div {
    height: 4rem;
    margin: 2rem 0;
    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & > a {
      height: 100%;
      min-width: 10rem;

      line-height: 3.75rem;
      font-size: 1.25rem;
      font-weight: 550;
      border-radius: 2rem;
      text-align: center;
      background-color: var(--accent);

      &:hover {
        color: #fff;
      }
    }
  }
}

#projects-section {
  height: calc(100% - 4rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: linear-gradient(#1f2223, var(--background));
}

#table-of-contents {
  background-color: var(--surface);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
}

#table-of-contents span {
  color: #aaa;
  font-size: 1rem;
}

#table-of-contents a {
  display: block;
  position: relative;
  margin-bottom: 0.75rem;
}

#table-of-contents a::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 2px; /* Adjust thickness as needed */
  background-color: var(--text);
  transition: width 0.2s ease-in-out; /* Transition for the underline */
}

#table-of-contents a:hover::before {
  width: 6rem;
}

#projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tile {
  margin: 1rem 3rem;
  display: flex;
  background-color: var(--surface);
  border-radius: 0.5rem;
  padding: 1rem;
}

.tile > div.tile-info-container {
  flex: 0 0 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.date {
  text-align: end;
}

.tile > div.tile-image-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex: 1;
}

.tile > div.tile-info-container h1 {
  margin-bottom: 0.5rem;
  transition: all ease-in-out 0.2s;
}

.tile > div.tile-info-container > p {
  align-self: flex-end;
}

.tile > div.tile-image-container > img {
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: #222 3px 3px 3px;
}

@media screen and (max-width: 1000px) {
  .tile-image-container {
    display: none;
  }
}
